$font-family-main: 'Manrope', sans-serif;

// === Primary colors ===

$accent-black: #000000;
$accent-white: #f9f9f6;
$accent-red: #ce0747;
$accent-blue: #00e3e4;

$light-grey: #E4E4E4;
$dark-grey:#ABABAB;